body {
  background-color: lightgrey;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 1fr));
  max-width: 500px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: black;
  gap: 1rem;
  padding: 2rem;
}

.button-zero {
  grid-column: 1 / span 3;
}

button {
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
}
